<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,694},{306,129}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,179},{306,129}}</string>
                <key>sourceSize</key>
                <string>{640,481}</string>
            </dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,694},{306,305}}</string>
                <key>offset</key>
                <string>{-1,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,4},{306,305}}</string>
                <key>sourceSize</key>
                <string>{640,481}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{446,287}}</string>
                <key>offset</key>
                <string>{27,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,36},{446,287}}</string>
                <key>sourceSize</key>
                <string>{640,481}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{492,341}}</string>
                <key>offset</key>
                <string>{-49,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,73},{492,341}}</string>
                <key>sourceSize</key>
                <string>{640,481}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{388,371}}</string>
                <key>offset</key>
                <string>{-30,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,1},{388,371}}</string>
                <key>sourceSize</key>
                <string>{640,481}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{438,355}}</string>
                <key>offset</key>
                <string>{-37,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,16},{438,355}}</string>
                <key>sourceSize</key>
                <string>{640,481}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,359},{410,333}}</string>
                <key>offset</key>
                <string>{-51,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,16},{410,333}}</string>
                <key>sourceSize</key>
                <string>{640,481}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>go.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0febb94ceafcc3487bf6443305561829$</string>
            <key>textureFileName</key>
            <string>go.png</string>
        </dict>
    </dict>
</plist>
