<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{350,120}}</string>
                <key>offset</key>
                <string>{11,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,144},{350,120}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,124},{338,120}}</string>
                <key>offset</key>
                <string>{11,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,144},{338,120}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,246},{326,120}}</string>
                <key>offset</key>
                <string>{11,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,144},{326,120}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,368},{314,120}}</string>
                <key>offset</key>
                <string>{11,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,144},{314,120}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,966},{302,120}}</string>
                <key>offset</key>
                <string>{11,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,147},{302,120}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,966},{302,120}}</string>
                <key>offset</key>
                <string>{11,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,150},{302,120}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,966},{302,120}}</string>
                <key>offset</key>
                <string>{11,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,153},{302,120}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,966},{302,120}}</string>
                <key>offset</key>
                <string>{11,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,156},{302,120}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,966},{302,120}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,159},{302,120}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,966},{302,120}}</string>
                <key>offset</key>
                <string>{11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,162},{302,120}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,966},{302,120}}</string>
                <key>offset</key>
                <string>{11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,165},{302,120}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,966},{302,120}}</string>
                <key>offset</key>
                <string>{11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,168},{302,120}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,966},{302,120}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,171},{302,120}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,966},{302,120}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,174},{302,120}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,966},{302,120}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,177},{302,120}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,966},{302,120}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,180},{302,120}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{302,122}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,176},{302,122}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,888},{302,124}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,182},{302,124}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,630},{302,128}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,170},{302,128}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,760},{302,126}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,182},{302,126}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,490},{302,138}}</string>
                <key>offset</key>
                <string>{11,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,160},{302,138}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1014},{150,116}}</string>
                <key>offset</key>
                <string>{-65,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,182},{150,116}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1014},{150,116}}</string>
                <key>offset</key>
                <string>{-65,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,185},{150,116}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1014},{150,116}}</string>
                <key>offset</key>
                <string>{-65,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,177},{150,116}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1014},{150,116}}</string>
                <key>offset</key>
                <string>{-65,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,188},{150,116}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1014},{150,116}}</string>
                <key>offset</key>
                <string>{-65,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,172},{150,116}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1014},{150,116}}</string>
                <key>offset</key>
                <string>{-65,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,190},{150,116}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1014},{150,116}}</string>
                <key>offset</key>
                <string>{-65,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,162},{150,116}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,480}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ko.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4144676f3be9541b88f8e0cac25935dd$</string>
            <key>textureFileName</key>
            <string>ko.png</string>
        </dict>
    </dict>
</plist>
