<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a200.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{75,85}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{75,85}}</string>
                <key>sourceSize</key>
                <string>{83,103}</string>
            </dict>
            <key>a201.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{53,79}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,24},{53,79}}</string>
                <key>sourceSize</key>
                <string>{83,103}</string>
            </dict>
            <key>a202.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,192},{55,73}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,29},{55,73}}</string>
                <key>sourceSize</key>
                <string>{83,103}</string>
            </dict>
            <key>a203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{55,73}}</string>
                <key>offset</key>
                <string>{14,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,29},{55,73}}</string>
                <key>sourceSize</key>
                <string>{83,103}</string>
            </dict>
            <key>a204.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,2},{53,83}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{53,83}}</string>
                <key>sourceSize</key>
                <string>{83,103}</string>
            </dict>
            <key>a205.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,101}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,1},{43,101}}</string>
                <key>sourceSize</key>
                <string>{83,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>a2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3713ae4d069299b4ad6f3ccd459c6fbd$</string>
            <key>textureFileName</key>
            <string>a2.png</string>
        </dict>
    </dict>
</plist>
