<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a300.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{78,84}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{78,84}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>a301.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{74,88}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{74,88}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>a302.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,90}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{74,90}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>a303.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{54,80}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{54,80}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>a3.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fb6526b6a873a3c12eb02f978217fd4$</string>
            <key>textureFileName</key>
            <string>a3.png</string>
        </dict>
    </dict>
</plist>
