<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>s100.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,84},{76,85}}</string>
                <key>offset</key>
                <string>{-33,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{76,85}}</string>
                <key>sourceSize</key>
                <string>{152,91}</string>
            </dict>
            <key>s101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{76,79}}</string>
                <key>offset</key>
                <string>{-23,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{76,79}}</string>
                <key>sourceSize</key>
                <string>{152,91}</string>
            </dict>
            <key>s102.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,243},{82,77}}</string>
                <key>offset</key>
                <string>{-19,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,13},{82,77}}</string>
                <key>sourceSize</key>
                <string>{152,91}</string>
            </dict>
            <key>s103.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,162},{82,79}}</string>
                <key>offset</key>
                <string>{-19,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{82,79}}</string>
                <key>sourceSize</key>
                <string>{152,91}</string>
            </dict>
            <key>s104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{140,79}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{140,79}}</string>
                <key>sourceSize</key>
                <string>{152,91}</string>
            </dict>
            <key>s105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{116,81}}</string>
                <key>offset</key>
                <string>{15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,9},{116,81}}</string>
                <key>sourceSize</key>
                <string>{152,91}</string>
            </dict>
            <key>s106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{152,87}}</string>
                <key>sourceSize</key>
                <string>{152,91}</string>
            </dict>
            <key>s107.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{80,89}}</string>
                <key>offset</key>
                <string>{-27,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{80,89}}</string>
                <key>sourceSize</key>
                <string>{152,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>s1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a24a3de5923e9019de021e657de31cd2$</string>
            <key>textureFileName</key>
            <string>s1.png</string>
        </dict>
    </dict>
</plist>
