<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ground00.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{62,110}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{62,110}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>ground01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{66,94}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{66,94}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>ground02.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,231},{52,90}}</string>
                <key>offset</key>
                <string>{-18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{52,90}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>ground03.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,127},{102,42}}</string>
                <key>offset</key>
                <string>{-7,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,72},{102,42}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>ground04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,36}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,71},{128,36}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>hurt100.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,127},{55,103}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{55,103}}</string>
                <key>sourceSize</key>
                <string>{65,109}</string>
            </dict>
            <key>hurt101.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,66},{59,109}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,109}}</string>
                <key>sourceSize</key>
                <string>{65,109}</string>
            </dict>
            <key>hurt200.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,184},{65,97}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{65,97}}</string>
                <key>sourceSize</key>
                <string>{67,103}</string>
            </dict>
            <key>hurt201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{65,103}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{65,103}}</string>
                <key>sourceSize</key>
                <string>{67,103}</string>
            </dict>
            <key>hurt300.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,251},{74,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{74,94}}</string>
                <key>sourceSize</key>
                <string>{76,96}</string>
            </dict>
            <key>hurt301.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,235},{74,96}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,96}}</string>
                <key>sourceSize</key>
                <string>{76,96}</string>
            </dict>
            <key>lie00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{109,59}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{109,59}}</string>
                <key>sourceSize</key>
                <string>{109,67}</string>
            </dict>
            <key>lie01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{97,65}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{97,65}}</string>
                <key>sourceSize</key>
                <string>{109,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yuki_hurt.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1dacbfee895e94ca2f75e8180a0b645$</string>
            <key>textureFileName</key>
            <string>yuki_hurt.png</string>
        </dict>
    </dict>
</plist>
