<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atk600.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{79,106}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{79,106}}</string>
                <key>sourceSize</key>
                <string>{85,126}</string>
            </dict>
            <key>atk601.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{73,102}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,21},{73,102}}</string>
                <key>sourceSize</key>
                <string>{85,126}</string>
            </dict>
            <key>atk602.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,81},{63,110}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{63,110}}</string>
                <key>sourceSize</key>
                <string>{85,126}</string>
            </dict>
            <key>atk603.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,367},{53,90}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{53,90}}</string>
                <key>sourceSize</key>
                <string>{85,126}</string>
            </dict>
            <key>atk604.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,126}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{65,126}}</string>
                <key>sourceSize</key>
                <string>{85,126}</string>
            </dict>
            <key>atk605.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{69,110}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{69,110}}</string>
                <key>sourceSize</key>
                <string>{85,126}</string>
            </dict>
            <key>atk606.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{77,114}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{77,114}}</string>
                <key>sourceSize</key>
                <string>{85,126}</string>
            </dict>
            <key>atk607.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,146},{79,106}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,16},{79,106}}</string>
                <key>sourceSize</key>
                <string>{85,126}</string>
            </dict>
            <key>atk608.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,227},{79,102}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,22},{79,102}}</string>
                <key>sourceSize</key>
                <string>{85,126}</string>
            </dict>
            <key>atk609.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,367},{59,102}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,21},{59,102}}</string>
                <key>sourceSize</key>
                <string>{85,126}</string>
            </dict>
            <key>atk610.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{69,108}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{69,108}}</string>
                <key>sourceSize</key>
                <string>{85,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yuki_s2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0aa6f2264cc16733549ca5f27763f4d1$</string>
            <key>textureFileName</key>
            <string>yuki_s2.png</string>
        </dict>
    </dict>
</plist>
