<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{65,117}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,18},{65,117}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>01.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,359},{63,117}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,18},{63,117}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>02.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,240},{63,117}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,18},{63,117}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>03.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,121},{63,117}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,18},{63,117}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>04.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,597},{61,117}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,18},{61,117}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>05.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,478},{61,117}}</string>
                <key>offset</key>
                <string>{13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,18},{61,117}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>06.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,121},{145,117}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{145,117}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{145,117}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{145,117}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>08.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{145,117}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{145,117}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>09.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{145,117}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{145,117}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,117}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{145,117}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,357},{145,115}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{145,115}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,702},{77,145}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,0},{77,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,831},{75,145}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{75,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,831},{75,145}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{75,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,831},{75,145}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{75,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,831},{75,145}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{75,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{75,145}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{75,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{145,115}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{145,115}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,355},{145,115}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{145,115}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,240},{145,115}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{145,115}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{145,115}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{145,115}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,238},{145,115}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{145,115}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,121},{145,115}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{145,115}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,589},{145,113}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{145,113}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{145,113}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{145,113}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,587},{145,113}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{145,113}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,474},{145,113}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{145,113}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{145,113}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{145,113}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,472},{145,113}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{145,113}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,716},{55,113}}</string>
                <key>offset</key>
                <string>{16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,22},{55,113}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yuki_win.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ea67a6744621ee0d004ef6d935a2c83$</string>
            <key>textureFileName</key>
            <string>yuki_win.png</string>
        </dict>
    </dict>
</plist>
